body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #efefef;
	font-family: Microsoft Yahei;
}
body {
	padding-bottom: 50px;
}
a:hover {
	text-decoration: none;
}
#header {
	border-bottom: 3px solid #c9caca;
	position: relative;
}
#header #back {
	position: absolute;
	left: 3px;
	top: -8px;
	font-size: 30px;
	color: #555;
	cursor: pointer;
}
#header #setting {
	position: absolute;
	right: 10px;
	top: -5px;
	font-size: 25px;
	color: #555;
	display: none;
	cursor: pointer;
}
#header #setting-menu {
	position: absolute;
	right: 10px;
	top: 40px;
	background-color: #efefef;
	border: 1px solid #c9caca;
	box-shadow: 0px -1px 1px rgba(20,20,20,0.3);
	z-index: 999;
	border-radius: 5px;
	display: none;
}
#header #setting-menu p {
	display: inline-block;
	margin-bottom: 0;
	padding: 10px 20px;
	border-bottom: 1px solid #333;
	color: #009c81;
	font-size: 13px;
}
#header #setting-menu p:last-child {
	border-bottom: none;
}
#header p#page_title {
	text-align: center;
	font-size: 18px;
	color: #555;
	margin-top: 12px;
	margin-bottom: 12px;
}
#nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #009c81;
	z-index: 999;
}
#nav ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	text-align: center;
	position: relative;
}
#nav ul li {
	width: 17%;
	display: inline-block;
	padding: 5px;
}
#nav ul li img {
	width: 40px;
}
#nav #nav_add {
	position: absolute;
	bottom: 10px;
	width: 60px;
	left: 50%;
	margin-left: -30px;
}

.weco_logo {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

.weco_form {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.weco_input {
	position: relative;
	border-bottom:1px solid rgba(201,201,202,0.4);
}
.weco_input p {
	position: absolute;
	left: 20px;
	top: 15px;
	color: #999;
}
.weco_input input {
	color: #666;
	padding-left: 70px;
	padding-right: 20px;
	width: 100%;
	/*text-align: right;*/
}
.weco_input textarea {
	color: #666;
	padding: 15px 20px 15px 70px;
	width: 100%;
	/*height: 50px;*/
	border: none;
	background-color: #f9f9f9;
	resize: none;
}
.weco_input textarea:focus {
	outline: none;
}

input {
    border: 0;
    border-radius: 0;
    padding: 15px;
    width: 100%;
    color: #444;
    background-color: #f9f9f9;
}

input:focus {
    border: 0;
    outline: none;
}