body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	background:#fdfdfd;
}
a:hover {
	text-decoration: none;
}
#nav ul {
	list-style-type: none;
	margin-bottom: 0;
}
#nav ul li {
	display: inline-block;
}