{% extends "layout.html" %} {% block style %}
<style>
#search {
    padding: 15px 20px;
}

#search #search_form {
    margin-bottom: 20px;
    position: relative;
}

#search #search_form .search_left {
    position: absolute;
    left: 5px;
    top: 0;
}

#search #search_form .search_left span.fa {
    font-size: 20px;
    margin: 15px 10px;
}

#search #search_form .search_left span.fa.active {
    color: #009c81;
}

#search #search_form .search_left span.fa.inactive {
    color: #aaa;
}

#search #search_form a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #009c81;
    font-size: 20px;
}

#search #keywords {
    margin-bottom: 0px;
}

#search #keywords>div {
    margin-bottom: 15px;
    text-align: center;
}

#search #keywords>div p {
    color: #e4007e;
    background-image: url("{{url_for('static',filename='img/icon/line.png')}}");
}

#search #keywords>div p span {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #efefef;
}

#search #keywords>div a {
    display: inline-block;
    color: #009c81;
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}

#search #categories .col-xs-4>div {
    margin-bottom: 20px;
}

#search #categories img {
    width: 100%;
    border-radius: 5px;
}

#search #categories h3 {
    color: #009c81;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

#search #categories p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;
    text-align: center;
}

#search #categories p span {
    color: white;
    padding: 6px 12px;
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 5px;
}
</style>
{% endblock %} {% block body %}
<div id="search">
    <div id="search_form">
        <form>
            <div class="search_left">
                <span class="fa fa-fw fa-lightbulb-o active" style="margin-right:0;"></span>
                <span class="fa fa-fw fa-user inactive" style="margin-left:0px;"></span>
            </div>
            <input type="text" name="keyword" placeholder="搜索创意" style="width:100%;padding-left:80px;padding-right:20px;border-radius:10px;">
            <a href="{{url_for('search_keyword',keyword='', target='idea',pageId=0)}}"><span class="fa fa-fw fa-search"></span></a>
        </form>
    </div>
    <div id="keywords">
        {% if not recent == None %}
        <div id="recent">
            <p><span>最近搜索</span></p> {% for item in recent %}
            <a href="{{url_for('search_keyword',target=item.target,keyword=item.keyword,pageId=0)}}"><span>{{item.keyword}}</span></a> {% endfor %}
        </div>
        {% endif %}
        <div id="hot">
            <p><span>实时热搜</span></p> {% for item in hot %}
            <a href="{{url_for('search_keyword',target=item.target,keyword=item.keyword,pageId=0)}}"><span>{{item.keyword}} {{item.count}}</span></a> {% endfor %}
        </div>
    </div>
    <div id="categories">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div>
                    <a href="{{url_for('search_category',category='社会',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/1.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('社会') %}{{categoryStat['社会']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>社会</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='设计',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/2.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('设计') %}{{categoryStat['设计']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>设计</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='生活',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/3.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('生活') %}{{categoryStat['生活']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>生活</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='城市',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/4.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('城市') %}{{categoryStat['城市']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>城市</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='娱乐',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/5.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('娱乐') %}{{categoryStat['娱乐']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>娱乐</h3>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div>
                    <a href="{{url_for('search_category',category='健康',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/6.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('健康') %}{{categoryStat['健康']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>健康</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='旅行',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/7.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('旅行') %}{{categoryStat['旅行']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>旅行</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='教育',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/8.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('教育') %}{{categoryStat['教育']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>教育</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='运动',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/9.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('运动') %}{{categoryStat['运动']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>运动</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='产品',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/10.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('产品') %}{{categoryStat['产品']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>产品</h3>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div>
                    <a href="{{url_for('search_category',category='艺术',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/11.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('艺术') %}{{categoryStat['艺术']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>艺术</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='科技',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/12.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('科技') %}{{categoryStat['科技']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>科技</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='工程',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/13.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('工程') %}{{categoryStat['工程']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>工程</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='广告',pageId=0)}}">
                        <div style="position:relative">
                            <img src="{{url_for('static',filename='img/category/14.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('广告') %}{{categoryStat['广告']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>广告</h3>
                    </a>
                </div>
                <div>
                    <a href="{{url_for('search_category',category='其他',pageId=0)}}">
                        <div style="position:relative;">
                            <img src="{{url_for('static',filename='img/category/15.jpg')}}">
                            <p>
                                <span>{% if categoryStat.has_key('其他') %}{{categoryStat['其他']}}{% else %}0{% endif %}</span>
                            </p>
                        </div>
                        <h3>其他</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // 更改页面标题
    $('#header p#page_title').text("搜索");

    // 关键词发生变化，更新搜索链接地址
    var target = "idea";
    $('#search #search_form input').keyup(function() {
        $('#search #search_form a').attr('href', "{{url_for('search_keyword')}}" + "?target=" + target + "&keyword=" + $('#search #search_form input').val() + "&pageId=0");
    });

    // 当前为搜索创意
    $('#search #search_form .search_left span.fa:first-child').click(function() {
        $(this).removeClass('inactive').addClass('active');
        $('#search #search_form .search_left span.fa:last-child').removeClass('active').addClass('inactive');
        $('#search #search_form input[name="keyword"]').attr('placeholder', '搜索创意');
        target = "idea";
        $('#search #search_form a').attr('href', "{{url_for('search_keyword')}}" + "?target=" + target + "&keyword=" + $('#search #search_form input').val() + "&pageId=0");
    });

    // 当前为搜索用户
    $('#search #search_form .search_left span.fa:last-child').click(function() {
        $(this).removeClass('inactive').addClass('active');
        $('#search #search_form .search_left span.fa:first-child').removeClass('active').addClass('inactive');
        $('#search #search_form input[name="keyword"]').attr('placeholder', '搜索用户');
        target = "user";
        $('#search #search_form a').attr('href', "{{url_for('search_keyword')}}" + "?target=" + target + "&keyword=" + $('#search #search_form input').val() + "&pageId=0");
    });
});
</script>
{% endblock %}