{% extends "layout.html" %} {% block style %}
<style>
#me {
    padding: 15px 15px 20px 15px;
}

#me ul.nav {
    border: none;
}

#me #user-basic-info {
    padding: 10px 20px;
}

#me #user-basic-info #user-protrait {
    position: absolute;
    left: 0;
    top: 5px;
}

#me #user-basic-info #user-protrait img {
    width: 75px;
    border-radius: 50%;
}

#me #user-basic-info #user-username {
    text-align: left;
    margin-left: 90px;
    margin-right: 53px;
    padding-top: 10px;
    min-height: 84px;
}

#me #user-basic-info #user-username p.tag {
    display: inline-block;
    color: white;
    background-color: #009c81;
    padding: 3px 6px;
    font-size: 9px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#me #user-basic-info #user-control {
    position: absolute;
    right: -5px;
    top: 10px;
}

#me #user-basic-info #user-control span {
    color: #e4007e;
    font-size: 12px;
    background-image: url("{{url_for('static',filename='img/icon/green2.png')}}");
    background-size: 100% 100%;
    padding: 8px 13px 8px 16px;
    cursor: pointer;
}

#me #user-profile-nav {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 5px;
}

#me #user-profile-nav li {
    width: 20%;
    text-align: center;
    background-color: #f9f9f9;
}

#me #user-profile-nav li a {
    border: none;
    color: #555;
    background-color: #f9f9f9;
    font-size: 14px;
    padding: 0;
}

#me #user-profile-nav li a span {
    font-size: 8px;
    position: relative;
    top: 2px;
}

#me #user-profile-nav .fa-male {
    color: #009c81;
}

#me #user-profile-nav .fa-female {
    color: #e4007e;
}

#me #user-profile-content h4.title {
    font-size: 17px;
    text-align: center;
    background-image: url("{{url_for('static',filename='img/icon/line.png')}}");
}

#me #user-profile-content h4.title span {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f9f9;
}

#me #user-profile-content #user-info h5 {
    position: absolute;
    top: 2px;
    left: 10px;
    margin: 0;
    color: #999;
}

#me #user-profile-content #user-info p {
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #555;
}

#me #user-profile-content .summary {
    text-align: center;
    color: #009c81;
    font-size: 12px;
}

#me #user-profile-content .summary span {
    color: #e4007e;
    margin-left: 5px;
    margin-right: 5px;
}

#me #user-profile-content #user-idea {
    text-align: center;
}

#me #user-profile-content #user-idea .myIdea,
#me #user-profile-content #user-idea .myTrash {
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
}

#me #user-profile-content #user-idea .myIdea p,
#me #user-profile-content #user-idea .myTrash p {
    background-color: #efefef;
    color: #555;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#me #user-profile-content #user-like {
    text-align: center;
}

#me #user-profile-content #user-like .otherIdea {
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
}

#me #user-profile-content #user-like .otherIdea p {
    background-color: #efefef;
    color: #555;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#me #user-profile-content #user-follow .myFollow {
    position: relative;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(201, 201, 202, 0.4);
}

#me #user-profile-content #user-follow .myFollow:last-child {
    border-bottom: 0;
}

#me #user-profile-content #user-follow .myFollow img {
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 10px;
}

#me #user-profile-content #user-follow .myFollow span {
    cursor: pointer;
    background-image:url("{{url_for('static',filename='img/icon/green4.png')}}");
    background-size: 100% 100%;
    font-size: 13px;
    color: #888;
    padding: 6px 10px 8px 10px;
    position: absolute;
    right: 25px;
    top: 15px;
}

#me #user-profile-content #user-fan .myFan {
    position: relative;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(201, 201, 202, 0.4);
}

#me #user-profile-content #user-fan .myFan:last-child {
    border-bottom: 0;
}

#me #user-profile-content #user-fan .myFan img {
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 10px;
}

#me #user-profile-content #user-fan .myFan .follow_or_not.unfollowed {
    cursor: pointer;
    background-image:url("{{url_for('static',filename='img/icon/green2.png')}}");
    background-size: 100% 100%;
    font-size: 13px;
    color: #e4007e;
    padding: 8px 12px 8px 15px;
    position: absolute;
    right: 25px;
    top: 15px;
}

#me #user-profile-content #user-fan .myFan .follow_or_not.followed {
    cursor: pointer;
    background-image:url("{{url_for('static',filename='img/icon/green4.png')}}");
    background-size: 100% 100%;
    font-size: 13px;
    color: #888;
    padding: 6px 10px 8px 10px;
    position: absolute;
    right: 25px;
    top: 15px;
}

#me #edit_user_info {
    display: none;
    text-align: center;
}

#me #edit_user_info #portrait {
    width: 60px;
    margin-bottom: 20px;
    border-radius: 50%;
}

#me #edit_user_info #save {
    text-align: center;
    margin-bottom: 20px;
    color: #009c81;
}

#me #edit_user_info #save>span {
    background-image: url("{{url_for('static',filename='img/icon/green2.png')}}");
    background-size: 100% 100%;
    padding: 12px 27px 10px 30px;
    cursor: pointer;
}

#me #edit_user_info .fa-male,
#me #edit_user_info .fa-female {
    color: #999;
    font-size: 20px;
    cursor: pointer;
}

#me #edit_user_info .fa-male.active {
    color: #009c81;
}

#me #edit_user_info .fa-female.active {
    color: #e4007e;
}

#me #edit_user_info #hot-tags {
    margin-bottom: 20px;
}

#me #edit_user_info #hot-tags p {
    color: #e4007e;
    background-image: url("{{url_for('static',filename='img/icon/line.png')}}");
}

#me #edit_user_info #hot-tags p span {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #efefef;
}

#me #edit_user_info #hot-tags .hot-tag {
    display: inline-block;
    color: #009c81;
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}

#me #edit_user_info .modal-body {
    padding: 40px 50px 20px 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

#me #edit_user_info #preview {
    width: 318px;
    position: absolute;
    height: 420px;
    top: -20px;
    left: 50%;
    margin-left: -159px;
}

#me #edit_user_info input[type="range"] {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    box-shadow: 1px 1px 2px rgba(20, 20, 20, 0.4) inset;
    border-radius: 15px;
    background-color: #efefef;
    -webkit-appearance: none;
    height: 5px;
}

#me #edit_user_info input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: #009c81;
    width: 17px;
    height: 17px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
}

#me #edit_user_info #preview button {
    background-image: url("{{url_for('static',filename='img/icon/green2.png')}}");
    background-size: 100% 100%;
    padding: 12px 20px 10px 20px;
    background-position: -2px 0px;
    border: none;
    background-color: #f9f9f9;
    color: #009c81;
    margin-top: 15px;
}

#me #edit_user_info .cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 200px;
    height: 200px;
    cursor: move;
    border: none;
}

#me #edit_user_info .cropit-image-background {
    opacity: .2;
    cursor: auto;
}


/*#me #changePwd {
    margin: 20px 30px;
    position: relative;
    padding-bottom: 80px;
}
#me #changePwd button {
    position: absolute;
    right: 0;
    bottom: 0;
}*/
</style>
{% endblock %} {% block body %}
<script>
$(document).ready(function() {
    // 更改页面标题
    $('#header p#page_title').text("个人主页");
    $('#header #setting').show();
});
</script>
<div id='me'>
    <div id="user-basic-info" class="weco_form">
        <div style="text-align:center;position:relative">
            <div id="user-protrait">
                <img src="{{url_for('static', filename=user.portrait[8:])}}">
            </div>
            <div id="user-username">
                <p style="color:#444;">{{user.nickname}}
                </p>
                {% for tag in user.tags.split(' ') %} {% if not tag == '' %}
                <p class="tag">{{tag}}</p>
                {% endif %} {% endfor %}
            </div>
            <div id="user-control">
                <span id="edit_a">编辑</span>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist" id="user-profile-nav">
            <li style="border-right:2px solid rgba(0, 156, 129, 0.6);" role="presentation"><a href="#user-idea" aria-controls="user-idea" role="tab" data-toggle="tab">创意<br><span class="ideasCount" style="color:#e4007e;">{{ideasCount}}</span></a></li>
            <li style="border-right:2px solid rgba(0, 156, 129, 0.6);" role="presentation"><a href="#user-like" aria-controls="user-like" role="tab" data-toggle="tab">喜欢<br><span class="followIdeasCount" style="color:#e4007e;">{{followIdeasCount}}</span></a></li>
            <li style="border-right:2px solid rgba(0, 156, 129, 0.6);" role="presentation" class="active"><a href="#user-info" aria-controls="user-info" role="tab" data-toggle="tab">资料<br>{% if user.gender == 1 %}<span class="fa fa-fw fa-male"></span>{% else %}<span class="fa fa-fw fa-female"></span>{% endif %}</a></li>
            <li style="border-right:2px solid rgba(0, 156, 129, 0.6);" role="presentation"><a href="#user-follow" aria-controls="user-follow" role="tab" data-toggle="tab">关注<br><span class="followUsersCount" style="color:#e4007e;">{{followUsersCount}}</span></a></li>
            <li role="presentation"><a href="#user-fan" aria-controls="user-fan" role="tab" data-toggle="tab">粉丝<br><span style="color:#e4007e;">{{fansCount}}</span></a></li>
        </ul>
    </div>
    <div class="tab-content" id="user-profile-content">
        <div role="tabpanel" class="tab-pane active" id="user-info">
            <div class="weco_form">
                <h4 class="title"><span>基本信息</span></h4>
                <div style="border-bottom: 1px solid rgba(201, 201, 202, 0.6);position:relative;">
                    <h5>签名</h5>
                    <p style="min-height:20px;">{{user.description}}</p>
                </div>
                <div style="border-bottom: 1px solid rgba(201, 201, 202, 0.6);position:relative;">
                    <h5>爱好</h5>
                    <p style="min-height:20px;">{{user.hobby}}</p>
                </div>
                <div style="border-bottom: 1px solid rgba(201, 201, 202, 0.6);position:relative;">
                    <h5>所在地</h5>
                    <p style="min-height:20px;">{{user.location}}</p>
                </div>
                <div style="position:relative;">
                    <h5>邮箱</h5>
                    <p style="min-height:20px;">{{user.email}}</p>
                </div>
                <div style="position:relative;display:none;">
                    <h5>微信</h5>
                    <p style="min-height:20px;">{{user.wechat}}</p>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="user-idea">
            <div class="weco_form">
                <h4 class="title"><span>我的创意</span></h4>{% if ideas == None %}
                <p style="text-align:center;margin-top:30px;color:#e4007e;"><span class="fa fa-fw fa-frown-o"></span>我还没有发布任何创意</p>
                {% else %}
                <p class="summary">我发布了<span class="ideasCount">{{ideasCount}}</span>个创意</p>
                <div id="myIdeas">
                    {% for item in ideas%}
                    <div class="myIdea">
                        <div style="width:100%;height:120px;background-image:url({{url_for('static',filename=item.feature[8:])}});background-size:cover;background-position:center;border-top-left-radius:5px;border-top-right-radius:5px;position:relative;">
                            <span name="{{item.id}}" style="position:absolute;right:5px;top:5px;cursor:pointer" class="delete_idea"><img src="{{url_for('static',filename='img/icon/icon-19.png')}}" style="width:20px;" title="删除创意"></span>
                        </div>
                        <a href="{{url_for('idea',ideaId=item.id)}}">
                            <p>{{item.title}}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <!--  <p class="summary" style="margin-top:20px;margin-bottom:5px;">待删除创意</p>
                <p style="font-size:8px;color:#999;width:80%;margin:0 10% 15px 10%;">创意删除后会暂时出现在这里，可以被恢复。如果再次被删除，<span style="color:#e4007e;">将永久无法恢复</span>，请谨慎操作</p>
                <div id="myTrashs">
                    {% if not trashs == None %} {% for item in trashs%}
                    <div class="myTrash">
                        <div style="width:100%;height:120px;background-image:url({{url_for('static',filename=item.feature[8:])}});background-size:cover;background-position:center;border-top-left-radius:5px;border-top-right-radius:5px;position:relative;">
                            <span name="{{item.id}}" style="position:absolute;left:5px;top:5px;cursor:pointer" class="recover_idea"><img src="{{url_for('static',filename='img/icon/icon-20.png')}}" style="width:25px;" title="恢复创意"></span>
                            <span name="{{item.id}}" style="position:absolute;right:5px;top:5px;cursor:pointer" class="delete_idea"><img src="{{url_for('static',filename='img/icon/icon-19.png')}}" style="width:25px;" title="删除创意"></span>
                        </div>
                        <a href="{{url_for('idea',ideaId=item.id)}}">
                            <p>{{item.title}}</p>
                        </a>
                    </div>
                    {% endfor %} {% endif %}
                </div> -->
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="user-like">
            <div class="weco_form">
                <h4 class="title"><span>我的喜欢</span></h4>{% if followIdeas == None %}
                <p style="text-align:center;margin-top:30px;color:#e4007e;"><span class="fa fa-fw fa-frown-o"></span>我还没有喜欢任何创意</p>
                {% else %}
                <p class="summary">我喜欢了<span class="followIdeasCount">{{followIdeasCount}}</span>个创意</p>
                {% for item in followIdeas%}
                <div class="otherIdea">
                    <div style="width:100%;height:120px;background-image:url({{url_for('static',filename=item.feature[8:])}});background-size:cover;background-position:center;border-top-left-radius:5px;border-top-right-radius:5px;position:relative;">
                        <span name="{{item.id}}" style="position:absolute;right:5px;top:5px;cursor:pointer" class="disfollow_idea"><img src="{{url_for('static',filename='img/icon/icon-19.png')}}" style="width:25px;" title="不喜欢了"></span>
                    </div>
                    <a href="{{url_for('idea',ideaId=item.id)}}">
                        <p>{{item.title}}</p>
                    </a>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="user-follow">
            <div class="weco_form">
                <h4 class="title"><span>我的关注</span></h4> {% if followUsers == None %}
                <p style="text-align:center;margin-top:30px;color:#e4007e;"><span class="fa fa-fw fa-frown-o"></span>我还没有关注任何用户</p>
                {% else %}
                <p class="summary">我关注了<span class="followUsersCount">{{followUsersCount}}</span>名用户</p>
                {% for item in followUsers%}
                <div class="myFollow">
                    <a href="{{url_for('user',username=item.username)}}">
                        <img src="{{url_for('static',filename=item.portrait[8:])}}">
                    </a>
                    <span name="{{item.username}}" class="disfollow_user">取消关注</span>
                    <div style="margin-left:84px;margin-right:60px;padding-top:5px;">
                        <a href="{{url_for('user',username=item.username)}}" style="color:#555;">
                            <p style="font-size:16px;margin-bottom:5px;">{{item.nickname}}</p>
                        </a>
                        <p style="font-size:12px;color:#009c81;">Ta的粉丝：{{item.fans}}人</p>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="user-fan">
            <div class="weco_form">
                <h4 class="title"><span>我的粉丝</span></h4> {% if fans == None %}
                <p style="text-align:center;margin-top:30px;color:#e4007e;"><span class="fa fa-fw fa-frown-o"></span>还没有任何用户关注我</p>
                {% else %}
                <p class="summary">有<span class="fansCount">{{fansCount}}</span>名用户关注了我</p>
                {% for item in fans%}
                <div class="myFan">
                    <a href="{{url_for('user',username=item.username)}}">
                        <img src="{{url_for('static',filename=item.portrait[8:])}}">
                    </a> {% if followUserStr.find(item.username) >= 0 %}
                    <span name="{{item.username}}" class="follow_or_not followed">取消关注</span> {% else %}
                    <span name="{{item.username}}" class="follow_or_not unfollowed">关注</span> {% endif %}
                    <div style="margin-left:84px;margin-right:60px;padding-top:5px;">
                        <a href="{{url_for('user',username=item.username)}}" style="color:#555;">
                            <p style="font-size:16px;margin-bottom:5px;">{{item.nickname}}</p>
                        </a>
                        <p style="font-size:12px;color:#009c81;">Ta的粉丝：{{item.fans}}人</p>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>
    <div id="edit_user_info">
        <div class="weco_form" style="position:relative;">
            <div class="image-editor">
                <div style="position:relative;cursor:pointer;vertical-align:middle;height:75px;border-bottom:1px solid rgba(201,201,202,0.4);">
                    <p style="text-align:left;position:relative;top:30px;left:20px;color:#999;">头像</p>
                    <input type="file" accept="image/*" style="opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;z-index:999;" class="cropit-image-input" name="portrait" capture="camera">
                </div>
                <div class="modal fade bs-example-modal-lg" id="preview" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="cropit-image-preview-container">
                                    <div class="cropit-image-preview"></div>
                                </div>
                                <input type="range" class="cropit-image-zoom-input" style="position: relative;z-index: 10;display: block;">
                                <button type="button" data-dismiss="modal">使用</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="portrait_container" style="position:absolute;right:25px;top:15px;">
                <img id="portrait" src="{{url_for('static',filename=user.portrait[8:])}}">
            </div>
            <div class="weco_input">
                <p>昵称</p>
                <input type="text" name="nickname" value="{{user.nickname}}" placeholder="中文或英文昵称">
            </div>
            <div class="weco_input" style="border:none;">
                <p>性别</p>
                <input type="text" name="gender" value="{{user.gender}}" style="display:none;">
                <div style="text-align:left;padding:15px 20px 15px 70px;">
                    {% if user.gender == 1 %}
                    <span class="fa fa-fw fa-male active"></span>
                    <span class="fa fa-fw fa-female"></span> {% elif user.gender == 0 %}
                    <span class="fa fa-fw fa-male"></span>
                    <span class="fa fa-fw fa-female active"></span> {% endif %}
                </div>
            </div>
        </div>
        <div class="weco_form">
            <div class="weco_input">
                <p>签名</p>
                <textarea rows="3" name="description" placeholder="彰显个性和特色">{{user.description}}</textarea>
            </div>
            <div class="weco_input" style="border:none;">
                <p>标签</p>
                <input type="text" name="tags" value="{{user.tags}}" placeholder="空格分割标签">
            </div class="weco_input">
        </div>
        <div id="hot-tags">
            <p><span>热门标签</span></p>
            {% for key,value in hotTags.items() %} {% for item in value %}
            <div class="hot-tag {{key}}">{{item.tag}}</div>
            {% endfor %} {% endfor %}
        </div>
        <div class="weco_form">
            <div class="weco_input">
                <p>爱好</p>
                <input type="text" name="hobby" value="{{user.hobby}}" placeholder="我有哪些爱好呢">
            </div>
            <div class="weco_input">
                <p>所在地</p>
                <input type="text" name="location" value="{{user.location}}" placeholder="我在XX省份XX城市">
            </div>
            <div class="weco_input" style="border:none;">
                <p>邮箱</p>
                <input type="text" name="email" value="{{user.email}}" placeholder="让我们保持联系吧">
            </div>
            <div class="weco_input" style="display:none;">
                <p>微信</p>
                <input type="text" name="wechat" value="{{user.wechat}}" placeholder="加个微信加个朋友">
            </div>
        </div>
        <p id="save"><span>保存</span></p>
    </div>
    <!-- <div id="changePwd">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" name="oldpwd" placeholder="原始密码">
                    <input type="password" class="form-control" name="newpwd" placeholder="新密码">
                    <input type="password" class="form-control" name="repeatpwd" placeholder="重复密码">
                    <button tpye="submit" class="form-control">更改密码</button>
                </div>
            </div>
        </form>
    </div> -->
</div>
<script>
$(document).ready(function() {
    $('#header #setting').click(function() {
        event.stopPropagation();
        $('#header #setting-menu').fadeIn(200);
    });

    $('body').click(function() {
        $('#header #setting-menu').fadeOut(200);
    })

    // 用户是否改变了头像
    var change_portrait = false;

    // 头像裁剪插件初始化
    $('#me #edit_user_info .image-editor').cropit({
        // exportZoom: 1.9,
        imageBackground: true,
        imageBackgroundBorderWidth: 20,
        width: 200,
        height: 200
            // imageState: {
            //     src: 'http://lorempixel.com/500/400/',
            // },
    });

    // 图像裁剪完毕并预览
    $('#me #edit_user_info #preview button').click(function() {
        var imageData = $('.image-editor').cropit('export', {
            type: 'image/jpeg',
            quality: .5
        });
        $('#me #edit_user_info #portrait').attr('src', imageData);
    });

    // 待删除创意
    // $('body').on('click', '#me #user-profile-content .trash_idea', function() {
    //     $(this).removeClass('trash_idea').addClass('delete_idea');
    //     var ideaId = $(this).attr('name');
    //     $r = '<span name="' + ideaId + '" style="position:absolute;left:5px;top:5px;cursor:pointer" class="recover_idea"><img src="' + "{{url_for('static',filename='img/icon/icon-20.png')}}" + '" style="width:25px;" title="恢复创意"></span>';
    //     $(this).before($r);
    //     var $p = $(this).parent().parent('.myIdea');
    //     $p.removeClass('myIdea').addClass('myTrash');
    //     $.ajax({
    //         url: "{{url_for('api_idea_trash')}}",
    //         type: 'POST',
    //         data: {
    //             ideaId: ideaId,
    //             username: "{{session.get('username')}}",
    //             token: "{{session.get('token')}}"
    //         },
    //         dataType: 'json',
    //         error: function() {},
    //         success: function(data) {
    //             $p.appendTo('#me #user-profile-content #myTrashs');
    //             $('#me #user-profile-content .ideasCount').text(parseInt($('#me #user-profile-content .ideasCount').text()) - 1);
    //             $('#me #user-profile-nav .ideasCount').text(parseInt($('#me #user-profile-nav .ideasCount').text()) - 1);
    //         }
    //     });
    // });

    // 恢复创意
    // $('body').on('click', '#me #user-profile-content .recover_idea', function() {
    //     var ideaId = $(this).attr('name');
    //     var $p = $(this).parent().parent('.myTrash');
    //     $(this).next('.delete_idea').removeClass('delete_idea').addClass('trash_idea');
    //     $(this).remove();
    //     $p.removeClass('myTrash').addClass('myIdea');
    //     $.ajax({
    //         url: "{{url_for('api_idea_recover')}}",
    //         type: 'POST',
    //         data: {
    //             ideaId: ideaId,
    //             username: "{{session.get('username')}}",
    //             token: "{{session.get('token')}}"
    //         },
    //         dataType: 'json',
    //         error: function() {},
    //         success: function(data) {
    //             $p.appendTo('#me #user-profile-content #myIdeas');
    //             $('#me #user-profile-content .ideasCount').text(parseInt($('#me #user-profile-content .ideasCount').text()) + 1);
    //             $('#me #user-profile-nav .ideasCount').text(parseInt($('#me #user-profile-nav .ideasCount').text()) + 1);
    //         }
    //     });
    // });

    // 删除创意
    $('body').on('click', '#me #user-profile-content .delete_idea', function() {
        var ideaId = $(this).attr('name');
        var $p = $(this).parent().parent('.myIdea');
        $.ajax({
            url: "{{url_for('api_idea_delete')}}",
            type: 'POST',
            data: {
                ideaId: ideaId,
                username: "{{session.get('username')}}",
                token: "{{session.get('token')}}"
            },
            dataType: 'json',
            error: function() {},
            success: function(data) {
                $p.remove();
                $('#me #user-profile-content .ideasCount').text(parseInt($('#me #user-profile-content .ideasCount').text()) - 1);
                $('#me #user-profile-nav .ideasCount').text(parseInt($('#me #user-profile-nav .ideasCount').text()) - 1);
            }
        });
    });

    // 不喜欢创意了
    $('#me #user-profile-content .disfollow_idea').click(function() {
        var $p = $(this).parent().parent('.otherIdea');
        var ideaId = $(this).attr('name');
        $.ajax({
            url: "{{url_for('api_idea_disfollow')}}",
            type: 'POST',
            data: {
                ideaId: ideaId,
                username: "{{session.get('username')}}",
                token: "{{session.get('token')}}"
            },
            dataType: 'json',
            error: function() {},
            success: function(data) {
                $p.remove();
                $('#me #user-profile-content .followIdeasCount').text(parseInt($('#me #user-profile-content .followIdeasCount').text()) - 1);
                $('#me #user-profile-nav .followIdeasCount').text(parseInt($('#me #user-profile-nav .followIdeasCount').text()) - 1);
            }
        });
    });

    // 不关注用户了
    $('#me #user-profile-content .disfollow_user').click(function() {
        var $p = $(this).parent('.myFollow');
        var username = $(this).attr('name');
        $.ajax({
            url: '{{url_for("api_user_disfollow")}}',
            type: 'POST',
            data: {
                target: username,
                source: "{{session.get('username')}}",
                token: "{{session.get('token')}}"
            },
            dataType: 'json',
            error: function() {},
            success: function(data) {
                $p.remove();
                $('#me #user-profile-nav .followUsersCount').text(parseInt($('#me #user-profile-nav .followUsersCount').text()) - 1);
                $('#me #user-profile-content .followUsersCount').text(parseInt($('#me #user-profile-content .followUsersCount').text()) - 1);
            }
        });
    });

    // 根据是否已经关注用户执行相应操作
    $('#me #user-profile-content .follow_or_not').click(function() {
        var username = $(this).attr('name');
        if ($(this).text() == '关注') {
            $(this).text('取消关注').removeClass("unfollowed").addClass("followed");
            $.ajax({
                url: '{{url_for("api_user_follow")}}',
                type: 'POST',
                data: {
                    target: username,
                    source: "{{session.get('username')}}",
                    token: "{{session.get('token')}}"
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {}
            });
        } else if ($(this).text() == '取消关注') {
            $(this).text('关注').removeClass("followed").addClass("unfollowed");
            $.ajax({
                url: '{{url_for("api_user_disfollow")}}',
                type: 'POST',
                data: {
                    target: username,
                    source: "{{session.get('username')}}",
                    token: "{{session.get('token')}}"
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {}
            });
        }
    });

    // 开始编辑个人资料
    $('#me #edit_a').click(function() {
        $('#me #user-basic-info').hide();
        $('#me #user-profile-content').hide();
        $('#me #user_logout').hide();
        $('#me #edit_user_info').show();
        change_portrait = false;
    });

    // 用户改变了头像
    $('#me #edit_user_info input[name="portrait"]').click(function() {
        // 处理图片的代码在cropit中
        $('#me #edit_user_info #preview').modal();
        change_portrait = true;
    });

    // 根据用户性别显示对应icon
    if ("{{user.gender}}" == 0) {
        $("#me #edit_user_info .hot-tag.male").hide();
    } else {
        $("#me #edit_user_info .hot-tag.female").hide();
    }

    // 用户将性别改为女性
    $('#me #edit_user_info .fa-female').click(function() {
        $(this).addClass('active');
        $('#me #edit_user_info .fa-male').removeClass('active');
        $('#me #edit_user_info input[name="gender"]').val(0);
        $("#me #edit_user_info .hot-tag.male").hide();
        $("#me #edit_user_info .hot-tag.female").show();
    })

    // 用户将性别改为男性
    $('#me #edit_user_info .fa-male').click(function() {
        $(this).addClass('active');
        $('#me #edit_user_info .fa-female').removeClass('active');
        $('#me #edit_user_info input[name="gender"]').val(1);
        $("#me #edit_user_info .hot-tag.male").show();
        $("#me #edit_user_info .hot-tag.female").hide();
    })

    // 点击了某个推荐的热门标签
    $('#me #edit_user_info #hot-tags .hot-tag').click(function() {
        var tagText = $(this).text();
        var tagsText = $('#me #edit_user_info input[name="tags"]').val();
        if (tagsText == '') {
            tagsText = tagText;
        } else if (tagsText.indexOf(tagText) == -1) {
            tagsText = tagsText + ' ' + tagText;
        }
        $('#me #edit_user_info input[name="tags"]').val(tagsText);
    });

    // 保存个人资料
    $('#me #save').click(function() {
        $('#me #edit_user_info #save span').text('').append("<span class='fa fa-fw fa-spin fa-spinner'></span>");
        if (change_portrait) {
            // 改变了头像，一并上传
            $.ajax({
                url: '{{url_for("api_user_edit")}}',
                type: 'POST',
                data: {
                    username: "{{session.get('username')}}",
                    token: "{{session.get('token')}}",
                    nickname: $('#me #edit_user_info input[name="nickname"]').val(),
                    portrait: $('#me #edit_user_info #portrait').attr('src'),
                    gender: $('#me #edit_user_info input[name="gender"]').val(),
                    tags: $('#me #edit_user_info input[name="tags"]').val(),
                    description: $('#me #edit_user_info textarea').val(),
                    email: $('#me #edit_user_info input[name="email"]').val(),
                    hobby: $('#me #edit_user_info input[name="hobby"]').val(),
                    location: $('#me #edit_user_info input[name="location"]').val(),
                    wechat: $('#me #edit_user_info input[name="wechat"]').val()
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    window.location.reload();
                }
            });
        } else {
            // 未改变头像，仅上传文本资料
            $.ajax({
                url: '{{url_for("api_user_edit")}}',
                type: 'POST',
                data: {
                    username: "{{session.get('username')}}",
                    token: "{{session.get('token')}}",
                    nickname: $('#me #edit_user_info input[name="nickname"]').val(),
                    gender: $('#me #edit_user_info input[name="gender"]').val(),
                    tags: $('#me #edit_user_info input[name="tags"]').val(),
                    description: $('#me #edit_user_info textarea').val(),
                    email: $('#me #edit_user_info input[name="email"]').val(),
                    hobby: $('#me #edit_user_info input[name="hobby"]').val(),
                    location: $('#me #edit_user_info input[name="location"]').val(),
                    wechat: $('#me #edit_user_info input[name="wechat"]').val()
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    window.location.reload();
                }
            });
        }
    });
});
</script>
{% endblock %}