{% extends "layout.html" %} {% block style %}
<style>
#nav {
    display: none;
}

#login {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

#login form {
    width: 82%;
    margin: 0 auto;
}

#login #login_error {
    font-size: 12px;
    color: #F75E5E;
    margin-bottom: 20px;
}

#login #forget_a,
#login #register_a {
    color: #666;
    font-size: 12px;
    text-decoration: none;
    margin: 0 5px;
}

#login #forget_a {
    float: right;
    position: relative;
    right: 10px;
    top: 8px;
}

#login #register_a {
    float: left;
    position: relative;
    left: 10px;
    top: 8px;
}

#login #forget_a:hover,
#login #register_a:hover {
    color: #009c81;
}

#login #forget_a,
#login #register_a {
    color: #009c81;
    font-size: 15px;
    padding: 2px 0px 3px 0px;
}

#login button[type="submit"] {
    border: none;
    background: transparent;
    color: #009c81;
    font-size: 15px;
    position: relative;
    left: 10px;
    z-index: 999;
    background-image: url("{{url_for('static',filename='img/icon/green2.png')}}");
    background-size: 100% 100%;
    padding: 12px 30px 10px 30px;
    background-position: -2px 0px;
}
</style>
{% endblock %} {% block body %}
<script>
$(document).ready(function() {
    // 更改页面标题
    $('#header p#page_title').text("登录");
});
</script>
<div id="login">
    <img class="weco_logo" src="{{url_for('static',filename='img/icon/icon-01.png')}}">
    <form class="form-inline" method="post" action="{{ url_for('login') }}">
        <div class="weco_form">
            <input style="border-bottom:1px solid rgba(201, 201, 202, 0.4);" type="text" name="username" placeholder="账号/邮箱">
            <input type="password" name="password" placeholder="密码">
        </div>
        {% if error %}
        <p id="login_error">{{error}}</p>
        {% endif %}
        <div class="weco_form" style="padding-top:12px;padding-bottom:18px;position:relative">
            <a href="{{url_for('register')}}" id="register_a">注册</a>
            <button type="submit" class="btn btn-default">登录</button>
            <!-- <a href="" id="forget_a">忘记密码</a> -->
            <!-- <a href="" class="btn btn-default">使用QQ登录</a> -->
            <!-- <a href="" class="btn btn-default">使用微信登录</a> -->
        </div>
    </form>
</div>
{% endblock %}