{% extends "layout.html" %} {% block style %}
<style>
#nav {
    display: none;
}

#register {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0px;
}

#register form {
    width: 82%;
    margin: 0 auto;
}

#register button[type="submit"] {
    border: none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    z-index: 999;
    background: transparent;
    background-image: url("{{url_for('static',filename='img/icon/icon-24.png')}}");
    background-size: 100% 100%;
    padding: 10px 20px;
}

#register #register_error {
    font-size: 12px;
    color: #F75E5E;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 17px;
    display: none;
}

#register #login_a a {
    color: #009c81;
    font-size: 15px;
}

#register #login_a a:hover {
    color: #009c81;
}
</style>
{% endblock %} {% block body %}
<script>
$(document).ready(function() {
    // 更改页面标题
    $('#header p#page_title').text("注册");
});
</script>
<div id="register">
    <img class="weco_logo" src="{{url_for('static',filename='img/icon/icon-01.png')}}">
    <form class="form-inline" method="post" action="{{ url_for('register') }}">
        <div class="weco_form">
            <input style="border-bottom:1px solid rgba(201, 201, 202, 0.4);" type="text" name="username" placeholder="账号&nbsp;&nbsp;&nbsp;&nbsp;英文字母、数字和下划线">
            <input style="border-bottom:1px solid rgba(201, 201, 202, 0.4);" type="email" name="email" placeholder="手机号&nbsp;&nbsp;&nbsp;&nbsp;您的手机号">
            <input style="border-bottom:1px solid rgba(201, 201, 202, 0.4);" type="password" name="password" placeholder="密码">
            <input type="password" name="password1" placeholder="确认密码">
        </div>
        <p style="color:#9f9fa0;">点击“立即加入”。即表示您同意WECO的
            <br><b style="color:#888">用户协议、隐私政策和Cookie政策</b></p>
        <p id="register_error"></p>
        <div style="position:relative;">
            <button type="submit" class="btn btn-default disabled">立即加入</button>
            <p id="login_a"><a href="{{url_for('login')}}">已经有账号？登陆</a></p>
        </div>
    </form>
</div>
<script>
$(document).ready(function() {
    // 确认注册信息是否完善
    var ok1 = false,
        ok2 = false,
        ok3 = false;

    // 用户名完成输入
    $('#register input[name="username"]').keyup(function() {
        var username = $(this).val();
        // 用户名不为空的话则判断是否已存在
        if (username != '') {
            $.ajax({
                url: '{{url_for("api_user_exist_name")}}',
                type: 'POST',
                data: {
                    username: username
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    if (data['exist']) {
                        $('#register #register_error').fadeIn().text('用户名已存在');
                        $('#register button[type="submit"]').addClass('disabled');
                        $('#register input[name="username"]').focus();
                        ok1 = false;
                    } else {
                        ok1 = true;
                        if ($('#register #register_error').text() == '用户名已存在') {
                            $('#register #register_error').fadeOut();
                        }
                    }
                    if (ok1 && ok2 && ok3) {
                        $('#register #register_error').fadeOut();
                        $('#register button[type="submit"]').removeClass('disabled');
                    }
                }
            });
        } else {
            ok1 = false;
            $('#register button[type="submit"]').addClass('disabled');
        }
    });

    // 手机号完成输入
    $('#register input[name="email"]').keyup(function() {
        var email = $(this).val();
        // 手机号不为空的话则判断是否已存在
        if (email != '') {
            $.ajax({
                url: '{{url_for("api_user_exist_email")}}',
                type: 'POST',
                data: {
                    email: email
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    if (data['exist']) {
                        $('#register #register_error').fadeIn().text('手机号已注册');
                        $('#register button[type="submit"]').addClass('disabled');
                        $('#register input[name="email"]').focus();
                        ok2 = false;
                    } else {
                        ok2 = true;
                        if ($('#register #register_error').text() == '手机号已注册') {
                            $('#register #register_error').fadeOut();
                        }
                    }
                    if (ok1 && ok2 && ok3) {
                        $('#register #register_error').fadeOut();
                        $('#register button[type="submit"]').removeClass('disabled');
                    }
                }
            });
        } else {
            ok2 = false;
            $('#register button[type="submit"]').addClass('disabled');
        }
    });

    // 密码正在输入
    $('#register input[name="password"]').keyup(function() {
        var pwd = $(this).val();
        // 密码不为空的话则判断两次密码是否相同
        if (pwd != '') {
            var pwd1 = $('#register input[name="password1"]').val();
            if (pwd == pwd1) {
                ok3 = true;
                if ($('#register #register_error').text() == '两次密码不一致') {
                    $('#register #register_error').fadeOut();
                }
            } else {
                ok3 = false;
                $('#register #register_error').fadeIn().text('两次密码不一致');
                $('#register button[type="submit"]').addClass('disabled');
            }
            if (ok1 && ok2 && ok3) {
                $('#register #register_error').fadeOut();
                $('#register button[type="submit"]').removeClass('disabled');
            }
        } else {
            ok3 = false;
            $('#register button[type="submit"]').addClass('disabled');
        }
    });

    // 重复密码正在输入
    $('#register input[name="password1"]').keyup(function() {
        var pwd1 = $(this).val();
        // 密码不为空的话则判断两次密码是否相同
        if (pwd1 != '') {
            var pwd = $('#register input[name="password"]').val();
            if (pwd == pwd1) {
                ok3 = true;
                if ($('#register #register_error').text() == '两次密码不一致') {
                    $('#register #register_error').fadeOut();
                }
            } else {
                ok3 = false;
                $('#register #register_error').fadeIn().text('两次密码不一致');
                $('#register button[type="submit"]').addClass('disabled');
            }
            if (ok1 && ok2 && ok3) {
                $('#register #register_error').fadeOut();
                $('#register button[type="submit"]').removeClass('disabled');
            }
        } else {
            ok3 = false;
            $('#register button[type="submit"]').addClass('disabled');
        }
    });
});
</script>
{% endblock %}