{% extends "layout.html" %} {% block style %}
<style>
#user {
    padding: 15px 15px 20px 15px;
}

#user ul.nav {
    border: none;
}

#user #user-basic-info {
    padding: 10px 20px;
}

#user #user-basic-info #user-protrait {
    position: absolute;
    left: 0;
    top: 5px;
}

#user #user-basic-info #user-protrait img {
    width: 75px;
    border-radius: 50%;
}

#user #user-basic-info #user-username {
    text-align: left;
    margin-left: 90px;
    margin-right: 68px;
    padding-top: 10px;
    min-height: 84px;
}

#user #user-basic-info #user-username p.tag {
    display: inline-block;
    color: white;
    background-color: #009c81;
    padding: 3px 6px;
    font-size: 9px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#user #user-basic-info #user-control {
    position: absolute;
    right: -5px;
    top: 10px;
    text-align: right;
}

#user #user-basic-info #user-control a {
    color: #e4007e;
    font-size: 12px;
    background-image: url("{{url_for('static',filename='img/icon/green2.png')}}");
    background-size: 100% 100%;
    padding: 8px 13px 8px 16px;
    cursor: pointer;
    position: relative;
    top: 4px;
}

#user #user-profile-nav {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 5px;
}

#user #user-profile-nav li {
    width: 20%;
    text-align: center;
    background-color: #f9f9f9;
}

#user #user-profile-nav li a {
    border: none;
    color: #555;
    background-color: #f9f9f9;
    font-size: 14px;
    padding: 0;
}

#user #user-profile-nav li a span {
    font-size: 8px;
    position: relative;
    top: 2px;
}

#user #user-profile-nav .fa-male {
    color: #009c81;
}

#user #user-profile-nav .fa-female {
    color: #e4007e;
}

#user #user-profile-content h4.title {
    font-size: 17px;
    text-align: center;
    background-image: url("{{url_for('static',filename='img/icon/line.png')}}");
}

#user #user-profile-content h4.title span {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f9f9;
}

#user #user-profile-content #user-info h5 {
    position: absolute;
    top: 2px;
    left: 10px;
    margin: 0;
    color: #999;
}

#user #user-profile-content #user-info p {
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #555;
}

#user #user-profile-content .summary {
    text-align: center;
    color: #009c81;
    font-size: 12px;
}

#user #user-profile-content .summary span {
    color: #e4007e;
    margin-left: 5px;
    margin-right: 5px;
}

#user #user-profile-content #user-idea {
    text-align: center;
}

#user #user-profile-content #user-idea .myIdea {
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
}

#user #user-profile-content #user-idea .myIdea p {
    background-color: #efefef;
    color: #555;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#user #user-profile-content #user-like {
    text-align: center;
}

#user #user-profile-content #user-like .otherIdea {
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
}

#user #user-profile-content #user-like .otherIdea p {
    background-color: #efefef;
    color: #555;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#user #user-profile-content #user-follow .myFollow {
    position: relative;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(201, 201, 202, 0.4);
}

#user #user-profile-content #user-follow .myFollow:last-child {
    border-bottom: 0;
}

#user #user-profile-content #user-follow .myFollow img {
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 10px;
}

#user #user-profile-content #user-fan .myFan {
    position: relative;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(201, 201, 202, 0.4);
}

#user #user-profile-content #user-fan .myFan:last-child {
    border-bottom: 0;
}

#user #user-profile-content #user-fan .myFan img {
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 10px;
}

#user .follow_or_not.unfollowed {
    cursor: pointer;
    background-image:url("{{url_for('static',filename='img/icon/green2.png')}}");
    background-size: 100% 100%;
    font-size: 13px;
    color: #e4007e;
    padding: 8px 12px 8px 15px;
    position: absolute;
    right: 25px;
    top: 15px;
}

#user .follow_or_not.followed {
    cursor: pointer;
    background-image:url("{{url_for('static',filename='img/icon/green4.png')}}");
    background-size: 100% 100%;
    font-size: 13px;
    color: #888;
    padding: 7px 10px 9px 10px;
    position: absolute;
    right: 25px;
    top: 15px;
}
</style>
{% endblock %} {% block body %}
<script>
$(document).ready(function() {
    $('#header p#page_title').text("其他用户");
});
</script>
<div id='user'>
    <div id="user-basic-info" class="weco_form">
        <div style="text-align:center;position:relative">
            <div id="user-protrait">
                <img src="{{url_for('static', filename=user.portrait[8:])}}">
            </div>
            <div id="user-username">
                <p style="color:#444;">{{user.nickname}}
                </p>
                {% for tag in user.tags.split(' ') %} {% if not tag == '' %}
                <p class="tag">{{tag}}</p>
                {% endif %} {% endfor %}
            </div>
            <div id="user-control">
                {% if followUserStr.find(user.username) >= 0 %}
                <span class="follow_or_not followed" style="position:relative;top:0;right:0;display:block;font-size: 12px;" name="{{user.username}}">取消关注</span> {% else %}
                <span class="follow_or_not unfollowed" style="position:relative;top:0;right:0;display:block;font-size: 12px;" name="{{user.username}}">关注</span> {% endif %}
                <a href="{{url_for('chat',username=user.username)}}">私信</a>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist" id="user-profile-nav">
            <li style="border-right:2px solid rgba(0, 156, 129, 0.6);" role="presentation"><a href="#user-idea" aria-controls="user-idea" role="tab" data-toggle="tab">创意<br><span style="color:#e4007e;">{{ideasCount}}</span></a></li>
            <li style="border-right:2px solid rgba(0, 156, 129, 0.6);" role="presentation"><a href="#user-like" aria-controls="user-like" role="tab" data-toggle="tab">喜欢<br><span class="followIdeasCount" style="color:#e4007e;">{{followIdeasCount}}</span></a></li>
            <li style="border-right:2px solid rgba(0, 156, 129, 0.6);" role="presentation" class="active"><a href="#user-info" aria-controls="user-info" role="tab" data-toggle="tab">资料<br>{% if user.gender == 1 %}<span class="fa fa-fw fa-male"></span>{% else %}<span class="fa fa-fw fa-female"></span>{% endif %}</a></li>
            <li style="border-right:2px solid rgba(0, 156, 129, 0.6);" role="presentation"><a href="#user-follow" aria-controls="user-follow" role="tab" data-toggle="tab">关注<br><span class="followUsersCount" style="color:#e4007e;">{{followUsersCount}}</span></a></li>
            <li role="presentation"><a href="#user-fan" aria-controls="user-fan" role="tab" data-toggle="tab">粉丝<br><span style="color:#e4007e;">{{fansCount}}</span></a></li>
        </ul>
    </div>
    <div class="tab-content" id="user-profile-content">
        <div role="tabpanel" class="tab-pane active" id="user-info">
            <div class="weco_form">
                <h4 class="title"><span>基本信息</span></h4>
                <div style="border-bottom: 1px solid rgba(201, 201, 202, 0.6);position:relative;">
                    <h5>签名</h5>
                    <p style="min-height:20px;">{{user.description}}</p>
                </div>
                <div style="border-bottom: 1px solid rgba(201, 201, 202, 0.6);position:relative;">
                    <h5>爱好</h5>
                    <p style="min-height:20px;">{{user.hobby}}</p>
                </div>
                <div style="position:relative;">
                    <h5>所在地</h5>
                    <p style="min-height:20px;">{{user.location}}</p>
                </div>
                <div style="position:relative;display:none;">
                    <h5>微信</h5>
                    <p style="min-height:20px;">{{user.wechat}}</p>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="user-idea">
            <div class="weco_form">
                <h4 class="title"><span>Ta的创意</span></h4>{% if ideas == None %}
                <p style="text-align:center;margin-top:30px;color:#e4007e;"><span class="fa fa-fw fa-frown-o"></span>Ta还没有发布任何创意</p>
                {% else %}
                <p class="summary">Ta发布了<span>{{ideasCount}}</span>个创意</p>
                {% for item in ideas%}
                <div class="myIdea">
                    <a href="{{url_for('idea',ideaId=item.id)}}">
                        <div style="width:100%;height:120px;background-image:url({{url_for('static',filename=item.feature[8:])}});background-size:cover;background-position:center;border-top-left-radius:5px;border-top-right-radius:5px;position:relative;">
                        </div>
                        <p>{{item.title}}</p>
                    </a>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="user-like">
            <div class="weco_form">
                <h4 class="title"><span>Ta的喜欢</span></h4>{% if followIdeas == None %}
                <p style="text-align:center;margin-top:30px;color:#e4007e;"><span class="fa fa-fw fa-frown-o"></span>Ta还没有喜欢任何创意</p>
                {% else %}
                <p class="summary">Ta喜欢了<span class="followIdeasCount">{{followIdeasCount}}</span>个创意</p>
                {% for item in followIdeas%}
                <div class="otherIdea">
                    <a href="{{url_for('idea',ideaId=item.id)}}">
                        <div style="width:100%;height:120px;background-image:url({{url_for('static',filename=item.feature[8:])}});background-size:cover;background-position:center;border-top-left-radius:5px;border-top-right-radius:5px;position:relative;">
                        </div>
                        <p>{{item.title}}</p>
                    </a>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="user-follow">
            <div class="weco_form">
                <h4 class="title"><span>Ta的关注</span></h4> {% if followUsers == None %}
                <p style="text-align:center;margin-top:30px;color:#e4007e;"><span class="fa fa-fw fa-frown-o"></span>Ta还没有关注任何用户</p>
                {% else %}
                <p class="summary">Ta关注了<span class="followUsersCount">{{followUsersCount}}</span>名用户</p>
                {% for item in followUsers%}
                <div class="myFollow">
                    <a href="{{url_for('user',username=item.username)}}">
                        <img src="{{url_for('static',filename=item.portrait[8:])}}">
                    </a>
                    <div style="margin-left:84px;margin-right:60px;padding-top:5px;">
                        <a href="{{url_for('user',username=item.username)}}" style="color:#555;">
                            <p style="font-size:16px;margin-bottom:5px;">{{item.nickname}}</p>
                        </a>
                        <p style="font-size:12px;color:#009c81;">Ta的粉丝：{{item.fans}}人</p>
                    </div>
                    {% if session.get('username') == item.username %} {% elif followUserStr.find(item.username) >= 0 %}
                    <span class="follow_or_not followed" name="{{item.username}}">取消关注</span> {% else %}
                    <span class="follow_or_not unfollowed" name="{{item.username}}">关注</span> {% endif %}
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="user-fan">
            <div class="weco_form">
                <h4 class="title"><span>Ta的粉丝</span></h4> {% if fans == None %}
                <p style="text-align:center;margin-top:30px;color:#e4007e;"><span class="fa fa-fw fa-frown-o"></span>还没有任何用户关注Ta</p>
                {% else %}
                <p class="summary">有<span class="fansCount">{{fansCount}}</span>名用户关注了Ta</p>
                {% for item in fans%}
                <div class="myFan">
                    <a href="{{url_for('user',username=item.username)}}">
                        <img src="{{url_for('static',filename=item.portrait[8:])}}">
                    </a>
                    <div style="margin-left:84px;margin-right:60px;padding-top:5px;">
                        <a href="{{url_for('user',username=item.username)}}" style="color:#555;">
                            <p style="font-size:16px;margin-bottom:5px;">{{item.nickname}}</p>
                        </a>
                        <p style="font-size:12px;color:#009c81;">Ta的粉丝：{{item.fans}}人</p>
                    </div>
                    {% if session.get('username') == item.username %} {% elif followUserStr.find(item.username) >= 0 %}
                    <span class="follow_or_not followed" name="{{item.username}}">取消关注</span> {% else %}
                    <span class="follow_or_not unfollowed" name="{{item.username}}">关注</span> {% endif %}
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#user .follow_or_not').click(function() {
        var me = $('#session_username').text();
        var username = $(this).attr('name');
        if (me == 'None') {
            storeCurrentUrl();
        } else {
            if ($(this).text() == '关注') {
                $(this).text('取消关注').removeClass("unfollowed").addClass("followed");
                $.ajax({
                    url: '{{url_for("api_user_follow")}}',
                    type: 'POST',
                    data: {
                        target: username,
                        source: me,
                        token: "{{session.get('token')}}"
                    },
                    dataType: 'json',
                    error: function() {},
                    success: function(data) {}
                });
            } else if ($(this).text() == '取消关注') {
                $(this).text('关注').removeClass("followed").addClass("unfollowed");
                $.ajax({
                    url: '{{url_for("api_user_disfollow")}}',
                    type: 'POST',
                    data: {
                        target: username,
                        source: me,
                        token: "{{session.get('token')}}"
                    },
                    dataType: 'json',
                    error: function() {},
                    success: function(data) {}
                });
            }
        }
    });
});
</script>
{% endblock %}