{% extends "layout.html" %} {% block style %}
<style>
#idea {
    padding: 10px 20px;
}

#idea #thumbnail {
    width: 100%;
}

#idea h2 {
    margin: 0;
    color: #444;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 15px 20px;
    font-size: 25px;
    background-color: rgba(240, 240, 240, 0.6);
    border-top-right-radius: 10px;
}

#idea #ideaInfo {
    margin: 20px 10px;
    position: relative;
}

#idea #ideaInfo #tags {
    display: inline-block;
    margin-right: 20px;
}

#idea #ideaInfo #category {
    display: inline-block;
}

#idea #ideaInfo #edit,
#idea #ideaInfo #follow,
#idea #ideaInfo #followed {
    position: absolute;
    right: 0;
    top: 0;
}

#idea #edit_idea_info {
    display: none;
    padding-bottom: 60px;
}

#idea #edit_idea_info #header {
    position: relative;
    margin-bottom: 30px;
}

#idea #edit_idea_info #header img {
    width: 100%;
}

#idea #edit_idea_info #header #change_thumbnail {
    position: absolute;
    width: auto;
    right: 0;
    bottom: 0;
}

#idea #edit_idea_info #header #change_thumbnail p {
    color: #333;
    background-color: rgba(240, 240, 240, 0.6);
    margin-bottom: 0;
    font-size: 15px;
    padding: 8px 12px;
    border-top-left-radius: 5px;
}

#idea #edit_idea_info .input-group {
    margin-bottom: 20px;
}

#idea #edit_idea_info #save {
    float: right;
}

#idea #idea_add_content {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 20px;
}

#idea #idea_add_content h5 {
    margin-top: 0;
}

#idea #idea_add_content #add_text,
#idea #idea_add_content #add_image,
#idea #idea_add_content #add_video {
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

#idea #idea_add_content #add_image {
    padding-top: 15px;
}

#idea #idea_add_content #add_image .form-control:hover {
    cursor: pointer;
}

#idea #idea_add_content #add_video {
    padding-top: 15px;
    border-bottom: none;
    padding-bottom: 30px;
}

#idea #idea_add_content .btn {
    float: right;
    margin-top: 10px;
    padding: 4px 8px;
}

#idea #idea_content {
    margin: 20px 0px 30px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 20px;
}

#idea #idea_content .content_cell {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

#idea #idea_content .content_cell span.fa {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -7px;
}

#idea #idea_content .content_cell span.fa:hover {
    cursor: pointer;
}

#idea #idea_content img,
#idea #idea_content video {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#idea #idea_control #praise,
#idea #idea_control #readCount,
#idea #idea_control #comment {
    display: inline-block;
    margin-left: 10px;
    margin-right: 0;
}

#idea #idea_control #praise span.active,
#idea #idea_comments .single_comment .comment_praise span.fa.active {
    color: #FF3900;
}

#idea #idea_control #share {
    float: right;
    display: inline-block;
    margin-left: 5px;
    margin-right: 20px;
    text-align: right;
}

#idea #idea_control #share .jiathis_style {
    position: relative;
    top: -19px;
    left: -20px;
    display: none;
}

#idea #idea_control span.fa {
    position: relative;
}

#idea #idea_comments {
    margin-top: 20px;
}

#idea #idea_comments #publish_comment {
    background-color: #6464FF;
    color: white;
    cursor: pointer;
}

#idea #idea_comments .single_comment {
    font-size: 13px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

#idea #idea_comments .single_comment img {
    width: 90%;
    margin-left: 10%;
    margin-right: 0;
}

#idea #idea_comments .single_comment .comment_praise {
    text-align: right;
    margin-right: 10px;
}

#idea #idea_comments .single_comment .comment_praise .fa {
    margin-right: 10px;
    margin-top: 10px;
}
</style>
{% endblock %} {% block body %}
<div id="idea">
    <div id="idea_info">
        <div style="position:relative;">
            <img id="thumbnail" src="{{url_for('static',filename=idea.thumbnail[8:])}}">
            <h2>{{idea.title}}</h2>
        </div>
        <div id="ideaInfo">
            <div id="tags">
                <p>
                    <span class="fa fa-fw fa-tag"></span> {% for tag in idea.tags.split(',') %}
                    <span>{{tag}}</span> {% endfor %}
                </p>
            </div>
            <div id="category">
                <p><span class="fa fa-fw fa-bookmark"></span> <span>{{idea.category}}<span></p>
            </div>
            <div id="owner">
                <p><span class="fa fa-fw fa-user"></span> <a href="{{url_for('user',username=idea.owner)}}">{{idea.nickname}}</a> 发布于 {{idea.timestamp}}</p>
            </div>
            {% if idea.owner == session.get('username') %}
            <span class="btn btn-default" id="edit">编辑</span> {% elif liked %}
            <span class="btn btn-default disabled" id="followed">已喜欢</span> {% else %}
            <span class="btn btn-default" id="follow">喜欢</span> {% endif %}
        </div>
    </div>
    <div id="edit_idea_info">
        <form>
            <div class="form-group">
                <div id="header">
                    <img src="{{url_for('static',filename=idea.thumbnail[8:])}}">
                    <div id="change_thumbnail">
                        <div style="position:relative;cursor:pointer;">
                            <p>更换封面</p>
                            <input type="file" accept="image/*" style="opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;" name="thumbnail">
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">标题</div>
                    <input type="text" name="title" class="form-control" value="{{idea.title}}">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">标签</div>
                    <input type="text" name="tags" class="form-control" value="{{idea.tags}}">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">分类</div>
                    <input type="text" name="category" class="form-control" value="{{idea.category}}">
                </div>
            </div>
            <span class="btn btn-default" id="save">保存</span>
        </form>
    </div>
    <div id="idea_control">
        <div id="praise">
            <span class="fa fa-fw fa-thumbs-o-up"></span>
            <span>{{idea.praise}}</span>
        </div>
        <div id="readCount">
            <span class="fa fa-fw fa-eye"></span>
            <span>{{idea.readCount}}</span>
        </div>
        <div id="comment">
            <span class="fa fa-fw fa-comment"></span>
            <span>{{commentsCount}}</span>
        </div>
        <div id="share">
            <span class="fa fa-fw fa-share-square-o"></span>
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style">
                <a class="jiathis_button_cqq"></a>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_renren"></a>
                <!-- <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> -->
                <!-- <a class="jiathis_counter_style"></a> -->
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>
    </div>
    <div id="idea_content">
        {% for item in attachments %}
        <div class="content_cell">
            {% if idea.owner == session.get('username') %}
            <span class="fa fa-fw fa-times" name="{{item.id}}"></span> {% endif %} {% if item.fileType == 0 %}
            <p>{{item.url}}</p>
            {% elif item.fileType == 1 %}
            <img src="{{url_for('static',filename=item.url[8:])}}"> {% elif item.fileType == 2 %}
            <video src="{{url_for('static',filename=item.url[8:])}}" controls="controls" loop="loop" muted>
            </video> {% endif %}
        </div>
        {% else %}
        <p style="text-align:center;margin-top:10px;">该创意暂无详细内容</p>
        {% endfor %}
    </div>
    {% if idea.owner == session.get('username') %}
    <div id="idea_add_content">
        <div id="add_text">
            <h5>添加文本</h5>
            <form method="post" action="{{url_for('idea_add_text',ideaId=idea.id)}}">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="content"></textarea>
                    <button type="submit" class="btn btn-default disabled"><span class="fa fa-fw fa-plus"></span></button>
                </div>
            </form>
        </div>
        <div id="add_image">
            <h5>添加图片</h5>
            <form>
                <div class="form-group">
                    <div class="form-control" style="position:relative;cursor:pointer;">
                        <p>上传图片</p>
                        <input type="file" accept="image/*" style="opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;" name="content">
                    </div>
                    <span class="btn btn-default disabled"><span class="fa fa-fw fa-plus"></span></span>
                </div>
            </form>
        </div>
        <div id="add_video">
            <h5>添加视频</h5>
            <form enctype="multipart/form-data" method="post" action="{{url_for('idea_add_video',ideaId=idea.id)}}">
                <div class="form-group">
                    <div class="form-control" style="position:relative;cursor:pointer;">
                        <p>上传小视频</p>
                        <input type="file" accept="video/*" style="opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;" name="content">
                    </div>
                    <button type="submit" class="btn btn-default disabled"><span class="fa fa-fw fa-plus"></span></button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <div id="idea_comments">
        <div id="add_comment">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="fa fa-fw fa-pencil"></span></div>
                    <input class="form-control" name="comment" type="text" placeholder="写下您的评论" />
                    <div class="input-group-addon" id="publish_comment"><span>评论</span></div>
                </div>
            </div>
        </div>
        {% for item in comments %}
        <div class="row">
            <div class="single_comment">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div>
                        <img src="{{url_for('static', filename='img/user.png')}}">
                    </div>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div>
                        <p><a href="{{url_for('user',username=item.username)}}">{{item.nickname}}</a> <span>{{item.timestamp}}</span></p>
                        <div>{{item.content}}</div>
                        <p class="comment_praise"><span name="{{item.id}}" class="fa fa-fw fa-thumbs-o-up"></span><span>{{item.praise}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p style="text-align:center;margin-top:30px;">沙发空缺，还不快抢～</p>
        {% endfor%}
    </div>
</div>
<script>
$(document).ready(function() {
    var change_thumbnail = false;
    $('#idea #idea_info #edit').click(function() {
        $('#idea #idea_info').hide();
        $('#idea #idea_control').hide();
        $('#idea #idea_content').hide();
        $('#idea #idea_add_content').hide();
        $('#idea #idea_comments').hide();
        $('#idea #edit_idea_info').show();
        change_thumbnail = false;
    });

    $('#idea #edit_idea_info #change_thumbnail input').change(function() {
        change_thumbnail = true;
        $('#idea #edit_idea_info #header img').attr("src", window.URL.createObjectURL($(this)[0].files[0]));
    });
    $('#idea #edit_idea_info #save').click(function() {
        if (change_thumbnail) {
            var ratio = 64 / ($('#idea #edit_idea_info #change_thumbnail input')[0].files[0].size / 1024);
            if (ratio > 1) {
                ratio = 1;
            }
            lrz($('#idea #edit_idea_info #change_thumbnail input')[0].files[0], {
                    quality: ratio
                })
                .then(function(rst) {
                    $.ajax({
                        url: '{{url_for("api_idea_edit")}}',
                        type: 'POST',
                        data: {
                            username: "{{session.get('username')}}",
                            token: "{{session.get('token')}}",
                            ideaId: "{{idea.id}}",
                            thumbnail: rst.base64,
                            title: $("#idea #edit_idea_info input[name='title']").val(),
                            tags: $("#idea #edit_idea_info input[name='tags']").val(),
                            category: $("#idea #edit_idea_info input[name='category']").val()
                        },
                        dataType: 'json',
                        error: function() {},
                        success: function(data) {
                            window.location.reload()
                        }
                    });
                })
                .catch(function(err) {
                    // 处理失败会执行
                })
                .always(function() {
                    // 不管是成功失败，都会执行
                });
        } else {
            $.ajax({
                url: '{{url_for("api_idea_edit")}}',
                type: 'POST',
                data: {
                    username: "{{session.get('username')}}",
                    token: "{{session.get('token')}}",
                    ideaId: "{{idea.id}}",
                    title: $("#idea #edit_idea_info input[name='title']").val(),
                    tags: $("#idea #edit_idea_info input[name='tags']").val(),
                    category: $("#idea #edit_idea_info input[name='category']").val()
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    window.location.reload()
                }
            });
        }

    });

    $('#idea #ideaInfo #follow').click(function() {
        var username = $('#session_username').text();
        if (username == 'None') {
            storeCurrentUrl();
        } else {
            $.ajax({
                url: '{{url_for("api_idea_follow")}}',
                type: 'POST',
                data: {
                    ideaId: "{{idea.id}}",
                    username: "{{session.get('username')}}",
                    token: "{{session.get('token')}}"
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    $('#idea #ideaInfo #follow').addClass('disabled').text('已喜欢');
                }
            });
        }
    });

    $('#idea #idea_control #praise span:first-child').click(function() {
        $.ajax({
            url: '{{url_for("api_idea_praise")}}',
            type: 'POST',
            data: {
                ideaId: "{{idea.id}}"
            },
            dataType: 'json',
            error: function() {},
            success: function(data) {
                $('#idea #idea_control #praise span:last-child').text(data['praise']);
                $('#idea #idea_control #praise span:first-child').toggleClass('active');
            }
        });
    });
    $('#idea #idea_control #share span').click(function() {
        $('#idea #idea_control #share .jiathis_style').slideToggle();
    });

    $('#idea #idea_comments #publish_comment').click(function() {
        var username = $('#session_username').text();
        if (username == 'None') {
            storeCurrentUrl();
        } else {
            if ($('#idea #idea_comments #add_comment input').val() != '') {
                $.ajax({
                    url: '{{url_for("api_idea_comment")}}',
                    type: 'POST',
                    data: {
                        ideaId: "{{idea.id}}",
                        username: "{{session.get('username')}}",
                        token: "{{session.get('token')}}",
                        content: $('#idea #idea_comments #add_comment input').val()
                    },
                    dataType: 'json',
                    error: function() {},
                    success: function(data) {
                        window.location.reload();
                    }
                });
            }
        }
    });

    $('#idea #idea_comments .single_comment .comment_praise span.fa').click(function() {
        var commentId = $(this).attr('name');
        $.ajax({
            url: '{{url_for("api_comment_praise")}}',
            type: 'POST',
            data: {
                commentId: commentId
            },
            dataType: 'json',
            error: function() {},
            success: function(data) {
                $('#idea #idea_comments .single_comment .comment_praise span.fa[name="' + commentId + '"]').next().text(data['praise']);
                $('#idea #idea_comments .single_comment .comment_praise span.fa[name="' + commentId + '"]').toggleClass('active');
            }
        });
    });

    $('#idea #idea_add_content #add_text textarea').keyup(function() {
        if ($(this).val() != '') {
            $('#idea #idea_add_content #add_text button').removeClass('disabled');
        } else {
            $('#idea #idea_add_content #add_text button').addClass('disabled');
        }
    });
    $('#idea #idea_add_content #add_image input').change(function() {
        var filename = $(this).val();
        filename = filename.substr(filename.lastIndexOf("\\") + 1);
        $('#idea #idea_add_content #add_image p').text(filename);
        $('#idea #idea_add_content #add_image span.btn').removeClass('disabled');
    });
    $('#idea #idea_add_content #add_image span.btn').click(function() {
        var ratio = 64 / ($('#idea #idea_add_content #add_image input')[0].files[0].size / 1024);
        if (ratio > 1) {
            ratio = 1;
        }
        lrz($('#idea #idea_add_content #add_image input')[0].files[0], {
                quality: ratio
            })
            .then(function(rst) {
                $.ajax({
                    url: '{{url_for("api_idea_addImg")}}',
                    type: 'POST',
                    data: {
                        username: "{{session.get('username')}}",
                        token: "{{session.get('token')}}",
                        image: rst.base64,
                        ideaId: "{{idea.id}}"
                    },
                    dataType: 'json',
                    error: function() {},
                    success: function(data) {
                        window.location.reload()
                    }
                });
            })
            .catch(function(err) {
                // 处理失败会执行
            })
            .always(function() {
                // 不管是成功失败，都会执行
            });
    });
    $('#idea #idea_add_content #add_video input').change(function() {
        if ($(this)[0].files[0].size / 1024 / 1024 > 5) {
            $('#idea #idea_add_content #add_video p').text("视频大小大于3M");
            $('#idea #idea_add_content #add_video p').css("color", "#F36148");
            $('#idea #idea_add_content #add_video button').addClass('disabled');
        } else {
            var filename = $(this).val();
            filename = filename.substr(filename.lastIndexOf("\\") + 1);
            $('#idea #idea_add_content #add_video p').text(filename);
            $('#idea #idea_add_content #add_video p').css("color", "#333");
            $('#idea #idea_add_content #add_video button').removeClass('disabled');
        }
    });
    $('#idea #idea_content .content_cell span.fa').click(function() {
        var attachmentId = $(this).attr('name');
        $.ajax({
            url: '{{url_for("api_attachment_remove")}}',
            type: 'POST',
            data: {
                attachmentId: attachmentId,
                username: "{{session.get('username')}}",
                token: "{{session.get('token')}}"
            },
            dataType: 'json',
            error: function() {},
            success: function(data) {
                window.location.reload()
            }
        });
    });
});
</script>
{% endblock %}