<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weco开源共创社区</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta property="qc:admins" content="457705051167076745663677537" />
    <link rel="shortcut icon" href="">
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/layout.css')}}" rel="stylesheet"> {% block style %} {% endblock %}
    <script>
    function storeCurrentUrl() {
        $.ajax({
            url: '{{url_for("storeCurrentUrl")}}',
            type: 'POST',
            data: {
                url: window.location.href
            },
            dataType: 'json',
            error: function() {},
            success: function(data) {
                if (data['ok']) {
                    window.location.href = "{{url_for('login')}}";
                }
            }
        });
    }
    </script>
</head>

<body>
    <div id="nav">
        <ul>
            <li><a href="{{url_for('index')}}"><i class="fa fa-fw fa-lightbulb-o"></i></a></li>
            <li><a href="{{url_for('search')}}"><i class="fa fa-fw fa-search"></i></a></li>
            <li><a href="{{url_for('idea_new')}}"><i class="fa fa-fw fa-plus"></i></a></li>
            <li><a href="{{url_for('home')}}"><i class="fa fa-fw fa-user"></i></a></li>
            <li><a href="{{url_for('notice')}}"><i class="fa fa-fw fa-envelope"></i></a></li>
        </ul>
    </div>
    <div id="session_username">{{session.get('username')}}</div>
    <div id="main">
        <div id="content">
            {% block body %} {% endblock %}
        </div>
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
wx.config({
    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '', // 必填，公众号的唯一标识
    timestamp: 1439358704, // 必填，生成签名的时间戳
    nonceStr: 'ZZObEdxRMgcLQoK', // 必填，生成签名的随机串
    signature: '22dc305b72f5572f40fb7e6bebbb0daf1dbd5200',// 必填，签名，见附录1
    jsApiList: ['chooseImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});
wx.ready(function(){

    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
});
wx.error(function(res){

    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

});
wx.checkJsApi({
    jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
    success: function(res) {
        // 以键值对的形式返回，可用的api值true，不可用为false
        console.log(res);
        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
    }
});
</script>

</html>