<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>weco共创社区开源项目</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="">
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <!--[if IE]>
        <script src="__PUBLIC__/js/html5.js"></script>
        <![endif]-->
</head>

<body>
    <header>
        <div id="brand">
            <h1>Weco</h1>
        </div>
        <div id="menu-left">
            <ul>
                <li><a href="">发现</a></li>
                <li><a href="">动态</a></li>
            </ul>
        </div>
        <div id="menu-right">
            <ul>
                <li><a href="">登录</a></li>
                <li><a href="">注册</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="main">
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer>
        <h3>Copyright © 2015 Honlan. All Rights Reserved.</h3>
    </footer>
</body>

</html>