{% extends "layout.html" %} {% block style %}
<style>
#notice {
    margin-top: 10px;
    margin-bottom: 10px;
}

#notice ul.nav {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#notice ul.nav li {
    width: 33%;
    text-align: center;
}

#notice .tab-content {
    padding: 20px 30px;
}

#notice .tab-content ul {
    list-style-type: none;
    padding-left: 0;
}

#notice .tab-content ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 3px;
}
#notice .tab-content .nonew {
    text-align: center;
    margin-top: 30px;
}

#notice .badge {
    margin-left: 10px;
}

#notice .tab-content .noticeTime {
    text-align: right;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 10px;
}

#notice .tab-content #activity .commentContent {
    font-size: 12px;
    color: #F5863A;
}
</style>
{% endblock %} {% block body %}
<div id="notice">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">动态<span class="badge">{{activityCount}}</span></a></li>
            <li role="presentation"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab">私信<span class="badge">{{chatsCount}}</span></a></li>
            <li role="presentation"><a href="#notification" aria-controls="notification" role="tab" data-toggle="tab">通知</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="activity">
                <ul>
                    {% for item in activities %}
                    <li>
                        {% if item.activityType == 1 %}
                        <a href="{{url_for('user',username=item.other)}}">{{item.otherNickname}}</a> 关注了你 {% elif item.activityType == 2 %}
                        <a href="{{url_for('user',username=item.other)}}">{{item.otherNickname}}</a> 喜欢了你的创意 <a href="{{url_for('idea',ideaId=item.ideaId)}}">{{item.ideaTitle}}</a> {% elif item.activityType == 3 %}
                        <a href="{{url_for('user',username=item.other)}}">{{item.otherNickname}}</a> 评论了你的创意 <a href="{{url_for('idea',ideaId=item.ideaId)}}">{{item.ideaTitle}}</a>
                        <br/><span class="commentContent">{{item.comment}}</span> {% endif %}
                        <p class="noticeTime">{{item.timestamp}}</p>
                    </li>
                    {% else %}
                    <p class="nonew">暂时没有新的动态哦～</p>
                    {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="chat">
                <ul>
                    {% for item in chats %}
                    <li>
                        <a href="{{url_for('chat',username=item.source)}}">
                            <p><span style="color:#337ab7;">{{item.sourceNickname}}</span> 给您发送了 {{item.count}} 条消息</p>
                            <p class="noticeTime">{{item.timestamp}}</p>
                        </a>
                    </li>
                    {% else %}
                    <p class="nonew">暂时没有新的私信哦～</p>
                    {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="notification">
            </div>
        </div>
    </div>
</div>
{% endblock %}