{% extends "layout.html" %} {% block style %}
<style>
#search_result {
    padding: 20px 30px;
}

#search_result h3 {
    margin: 0;
    margin-bottom: 30px;
}

#search_result .idea {
    margin-bottom: 20px;
}

#search_result .idea img {
    width: 100%;
}

#search_result #page_nav .nav_item {
    display: inline-block;
}

#search_result #page_nav .nav_item.active {
    border: 1px solid #ddd;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}
</style>
{% endblock %} {% block body %}
<div id="search_result">
    {% if count > 0 %}
    <h3>和{{keyword}}相关的{% if target == "idea" %}创意{% elif target == "user" %}用户{% endif %}共{{count}}个</h3> {% if target == "idea" %}
    <div id="ideas">
        {% for item in result %}
        <div class="idea">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <img src="{{url_for('static',filename=item.thumbnail[8:])}}">
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <a href="{{url_for('idea',ideaId=item.id)}}">{{item.title}}</a>
					<p>{% for i in item.tags.split(',') %}<span> {{i}} </span>{% endfor %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% elif target == "user" %}
    <div id="users">
        {% for item in result %}
        <div class="user">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <img src="{{url_for('static',filename=item.portrait[8:])}}">
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <a href="{{url_for('user',username=item.username)}}">{{item.nickname}}</a>
					<p>{% for i in item.tags.split(',') %}<span> {{i}} </span>{% endfor %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div id="page_nav">
        {% if not current == 0 %}
        <div class="nav_item"><a href="{{url_for('search_keyword',target=target,keyword=keyword,pageId=current-1)}}">上一页</a></div>
        {% endif %} {% for i in pages %} {% if i == current %}
        <div class="nav_item active"><a href="{{url_for('search_keyword',target=target,keyword=keyword,pageId=i)}}">{{i+1}}</a></div>
        {% else %}
        <div class="nav_item"><a href="{{url_for('search_keyword',target=target,keyword=keyword,pageId=i)}}">{{i+1}}</a></div>
        {% endif %} {% endfor %} {% if not current == total %}
        <div class="nav_item"><a href="{{url_for('search_keyword',target=target,keyword=keyword,pageId=current+1)}}">下一页</a></div>
        {% endif %}
    </div>
    {% else %}
    <h3><span class="fa fa-fw fa-frown-o"></span>没有找到和{{keyword}}相关的{% if target == "idea" %}创意{% elif target == "user" %}用户{% endif %}</h3> {% endif %}
</div>
{% endblock %}