<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weco开源共创社区</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta property="qc:admins" content="457705051167076745663677537" />
    <link rel="shortcut icon" href="">
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome/css/font-awesome.min.css')}}">
    <script src="{{url_for('static', filename='js/lrz.bundle.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.cropit.js')}}"></script>
    <link href="{{url_for('static', filename='css/layout.css')}}" rel="stylesheet">
    <script>
    function storeCurrentUrl() {
        $.ajax({
            url: '{{url_for("storeCurrentUrl")}}',
            type: 'POST',
            data: {
                url: window.location.href
            },
            dataType: 'json',
            error: function() {},
            success: function(data) {
                if (data['ok']) {
                    window.location.href = "{{url_for('login')}}";
                }
            }
        });
    }
    $(document).ready(function() {
        $('#header #back').click(function() {
            history.back();
        });
    });
    </script>
    {% block style %} {% endblock %}
</head>

<body>
    <div id="header">
        <div id="back">
            <span class="fa fa-fw fa-angle-left"></span>
        </div>
        <p id="page_title">&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <div id="setting">
            <span class="fa fa-fw fa-cog"></span>
        </div>
        <div id="setting-menu">
            <a href="{{url_for('about')}}"><p>关于WECO</p></a>
            <a href="{{url_for('logout')}}"><p>退出登录</p></a>
        </div>
    </div>
    <div id="nav">
        <ul>
            <li>
                <a href="{{url_for('index')}}"><img src="{{url_for('static',filename='img/icon/icon-05.png')}}"></a>
            </li>
            <li>
                <a href="{{url_for('search')}}"><img src="{{url_for('static',filename='img/icon/icon-06.png')}}"></a>
            </li>
            <li style="width:22%;">
                <a href="{{url_for('idea_new')}}"><img src="{{url_for('static',filename='img/icon/icon-13.png')}}" id="nav_add"></a>
            </li>
            <li>
                <a href="{{url_for('notice')}}"><img src="{{url_for('static',filename='img/icon/icon-08.png')}}"></a>
            </li>
            <li>
                <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='img/icon/icon-07.png')}}"></a>
            </li>
        </ul>
    </div>
    <div id="session_username" style="display:none;">{{session.get('username')}}</div>
    <div id="main">
        <div id="content">
            {% block body %} {% endblock %}
        </div>
    </div>
</body>
<!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
<script>
// $(document).ready(function() {
//     wx.config({
//         debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
//         appId: 'wxd31550338c7ecb86', // 必填，公众号的唯一标识
//         timestamp: 1439359378, // 必填，生成签名的时间戳
//         nonceStr: 'wJXpXf7vBbqdwEf', // 必填，生成签名的随机串
//         signature: 'c6a1127ec02845f81494e640cce020d0b4469dcf', // 必填，签名，见附录1
//         jsApiList: ['chooseImage', 'onMenuShareTimeline'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
//     });
//     wx.ready(function() {

//         // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
//         alert('success');
//         wx.chooseImage({
//             count: 1, // 默认9
//             sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
//             sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
//             success: function(res) {
//                 var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
//             }
//         });
//     });
//     wx.error(function(res) {
//         alert(res);

//         // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

//     });
// });
</script>

</html>